body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: rgb(178, 202, 85);
    color: darkblue;
}

h1{
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
}